.edit-plate-button {
    float:right;
    margin-right: 10px;
}

.plateNumber {
    font-family: "Roboto Mono" !important;
    font-weight: 500 !important;
    border: 3px solid black !important;
    border-radius: 5px !important;
}