<!-- material form to edit plate information -->
<mat-toolbar color="primary">
    @if( newVehicle ) {
        <span>Enter Vehicle Information</span>
    } @else{
        <span>Edit Vehicle Information</span>
      }
  
</mat-toolbar>
<form>


  <mat-form-field appearance="fill">
    <mat-label>Plate Number</mat-label>
    <input matInput [(ngModel)]="plateInfo.platenum" name="platenum" required (change)="checkPlateNum()">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>MV Number</mat-label>
    <input matInput [(ngModel)]="plateInfo.mvNo" name="mvNo" required (change)="checkMvNo()">
  </mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Label</mat-label>
    <input matInput [(ngModel)]="plateInfo.label" name="label" required>
</mat-form-field>

<button mat-raised-button color="primary" (click)="savePlate()">Save</button>
</form>
<div>
@if(plateInfo.label != ''){
<button mat-button (click)="clearPlate()">Clear</button>
@if(!newVehicle){
<button mat-button color="warn" (click)="deletePlate()">Delete</button>
}
}
</div>
<div>
<!-- button to return to dashboard -->
<button mat-button (click)="goToDashboard()">Back to Dashboard</button>
</div>